ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}
ol li::before{
    content: counter(contador) ' Curso de ' ;
    color: brown;
}

ol li::after{
    content: '.';
}
