.punteado{
    border-style: dotted;
    border-width: 10px 5px 3px 2px;
    border-color: rgba(220, 20, 60, 0.213) hotpink gold lime;
}
.discontinuo{
    border-style: dashed;
    border-width: thick;
}
.solido{
    border-style: solid;
}
.doble{
    border-style: double;
    border-width: medium;
}
.surco{
    border-style: groove;
    border-width: 10px;
}
.cresta{
    border-style: ridge;
    border-width: 10px;
}
.recuadro{
    border-style: inset;
    border-width: 10px;
}
.outset{
    border-style: outset;
    border-width: 10px;
}
.mixto{
    border-style: dotted solid dashed double;
}