html{
    /*para que se centre los elemntos en el eje vertical*/
    height: auto;
    /*para que el valor del minimo sea 100%*/
    min-height: 100%;
}
body{
    /*background: linear-gradient(#f73585, #3a0ca3);*/
    /*background: linear-gradient(to right, #f73585, #3a0ca3);*/
    /*background: linear-gradient(#24404d, #6dbff1, #000 );*/
    /*background: linear-gradient(to bottom right, #24404d, #6dbff1, #000 );*/
    /*background: linear-gradient(140deg, #24404d, #6dbff1, #000 );/*deg es angulo*/
    background: radial-gradient( #24404d, #6dbff1, #000);

    color: #f1faee;
   
}
h1{
    text-align: center;
}
img{
    width: 50%;
    height: 20%;
    margin: auto; 
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
}
.h1.tituloSombra{
    text-shadow: 2px 2px  5px gray;
}