div.absoluto{
    position: absolute;
    bottom: 20px;
    right: 10px;
    max-width: 400px; /*el ancho maximo*/
    border: 3px solid firebrick;
    margin: auto;
}
div.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: 3px solid firebrick;
}
h1{
    text-align: center;
    color: crimson;
}
div.relativo{
    max-width: 300px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 100px;
    border: 3px solid cornflowerblue;
}
div.estatico{
    padding: 15px;
    border: 3px solid greenyellow;
    background-color: whitesmoke;
}
div.relativo2{
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
    border: 3px solid blueviolet;
    background-color: whitesmoke;
    z-index: -1;
}
div.absoluto2{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 112px;
    border: 3px solid cornflowerblue;
    background-color: whitesmoke;
    z-index: -1;
}
div.contenedor{
    position: relative;
    border: 3px dashed green;
    width: 30%;
    margin: auto;
}
div.contenedor2{
    height: 100px;
    border: 3px dashed green;
    width: 30%;
    margin: auto;
    overflow: auto;
}
div.centro{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.imagen{
    width: 100%;
    opacity: 0.2;
}
div.float{
    height: 100px;
    border: 3px dashed green;
    width: 30%;
    overflow: auto;
    float: right;
}