h1,div,p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 1opx;
    display: block;
}
h1{
    display: none;
}
p{
    visibility: hidden;
}
span{
    display: block;
}
a{
    display: block;
    text-decoration: none;
    text-align: right;
}
li{
    display: inline;
}